@charset "utf-8";

html{
    scroll-behavior: smooth;
}
label,p{
    margin: 0;
}
body{
  font-family: "Noto Serif JP", "Hiragino Sans", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 24px;
  line-height: 1;
  color: #537791;
  margin: 0;
  padding: 0;
  background-color:#f3f6e7;
}